* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Kurale', serif;
}

nav .container-fluid .collapse ul li a:hover {
 background-color: aqua;
 border-radius: 8px;
 transition: ease-in 0.2s;
}
.welcome-section {
    background-image: url('./Images/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.feat-pic img {
    height: 200px;
    width: 100%;
}

.feat-pic img:hover {
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: ease-in 40ms;
}

.feat a:hover {
    background-color: aqua;
    transition: ease-in 0.5s;
    border-radius: 10px;
}

.ret a:hover {
    background-color:rgba(253, 31, 235, 0.5);
    transition: ease-in 0.2s;
    border-radius: 10px;
}

.form-section .form-pic {
    background-image: url('./Images/concept\ fun.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;

}
@media screen and (max-width: 470px) {

    iframe {
        width: 300px;
        height: 180px;
    }

}

/* About page */
.about-sec .about-bg {
    background-image: url('./Images/blue\ ps4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50vh;
}
.about-sec .about-text h1 {
    font-family: 'Lato', sans-serif;
}

.about-sec .about-text h5 {
    font-family: 'Kurale', serif;
}
/* Contact page */
.contact-p {
    font-family: 'Kurale', serif;
    height: 100%;
}
.contact-p .right-side {
    padding: 10rem 1rem;
}
/* services page  */

.services-body {
    height: 100%;
    background: linear-gradient(90deg, #272927 50%, #d2d6d3 50%);
}
.service-section{
    font-family: 'Kurale', serif;
}
.service-section .serve-left h1 {
    font-family: 'Lato', sans-serif;
}

.service-section .serve-left {
    padding-top: 10rem;
}
.service-section .serve-right {
    margin-top: 15%;
    border-radius: 8px;
}